.network-host-full
  img.avatar-small(src=path+"/assets/images/img_cus06.png", alt="")
  img.avatar-full(src=path+"/assets/images/network/person_full.png", alt="")
  .network-host-inner
    .network-host-status 
      .network-host-ico 
        span.ico-host-inline
      | Host
    .network-host-info 
      .network-host-info-caption
        .modal-network-info-name Michael Smith
        span.ico-rec
      .network-host-info-desc Bussiness Conference Design & Facilitation, The Art of Metting