.data-main 
  .data-header 
    .txt Take a Seat to join a conversation. 
    .box-form-search
        button.btn(type='button')
          span.ico-search
        input(type="text" placeholder="Search for a table name")
  .data-list 
    .data-item.data-item-4
      .data-item-title Table name 1
      .data-ico-table 
        .data-table-item
          .data-table-item-small.style1 Logo
        a.data-isu-left 
          span.ico-chair-left
        a.data-isu-right
          span.ico-chair-right
        a.data-isu-top 
          span.ico-chair-top 
        a.data-isu-bottom  
          span.ico-chair-bottom 
      a.btn.btn-join(data-toggle="modal" data-target="#modalNetworkJoin")  Join
    .data-item.data-item-2
      .data-item-title Table name 2
      .data-ico-table 
        .data-table-item
          .data-table-item-small.style2 Logo
        a.data-isu-left 
          span.ico-chair-left
        a.data-isu-right
          span.ico-chair-right
      a.btn.btn-join Join
    .data-item.data-item-3
      .data-item-title Table name 3
      .data-ico-table 
        .data-table-item
          .data-table-item-small.style3 Logo
        a.data-isu1 
          span.ico-chair-left
        a.data-isu2
          span.ico-chair-right
        a.data-isu-top 
          span.ico-chair-top 
      a.btn.btn-join Join
    .data-item.data-item-5
      .data-item-title Table name 4
      .data-ico-table 
        .data-table-item
          .data-table-item-small.style4 Logo
        a.data-isu1 
          span.ico-chair-left
        a.data-isu2 
          span.ico-chair-left
        a.data-isu3
          span.ico-chair-right
        a.data-isu4
          span.ico-chair-right
        a.data-isu-top 
          span.ico-chair-top 
      a.btn.btn-join Join
    .data-item.data-item-6
      .data-item-title Table name 5
      .data-ico-table 
        .data-table-item
          .data-table-item-small.style5 Logo
        a.data-isu1 
          span.ico-chair-left
        a.data-isu2
          span.ico-chair-left
        a.data-isu3
          span.ico-chair-right
        a.data-isu4
          span.ico-chair-right
        a.data-isu-top 
          span.ico-chair-top 
        a.data-isu-bottom  
          span.ico-chair-bottom 
      a.btn.btn-join Join
    .data-item.data-item-7
      .data-item-title Table name 6
      .data-ico-table 
        .data-table-item
          .data-table-item-small.style6 Logo
        a.data-isu1
          span.ico-chair-left
        a.data-isu2
          span.ico-chair-left
        a.data-isu3
          span.ico-chair-left
        a.data-isu4
          span.ico-chair-right
        a.data-isu5
          span.ico-chair-right
        a.data-isu6
          span.ico-chair-right
        a.data-isu-top 
          span.ico-chair-top 
      a.btn.btn-join Join
    .data-item.data-item-8 
      .data-item-title Table name 7
      .data-ico-table 
        .data-table-item
          .data-table-item-small.style7 Logo
        a.data-isu-left 
          span.ico-chair-left
        a.data-isu-right
          span.ico-chair-right
        a.data-isu1
          span.ico-chair-left
        a.data-isu2
          span.ico-chair-left
        a.data-isu3
          span.ico-chair-right
        a.data-isu4
          span.ico-chair-right
        a.data-isu-top 
          span.ico-chair-top 
        a.data-isu-bottom  
          span.ico-chair-bottom 
      a.btn.btn-join Join