#clearAll.modal.fade(tabindex='-1' role='dialog' aria-labelledby='' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    form.modal-content
      .modal-wrapper
        .modal_body
          .clear_fields
            h3 Clear all fields
            p Are you sure you want to clear all fields?
            div.clear_fields_btn
              button(type="button", class="btn btn-black trans" data-dismiss="modal")
                span Cancel
              button(type="button", class="btn btn-primary trans btnClearForm")
                span Confirm