.m-content_head
  div
    h2.title-tab Ticketing
    span.description-tab Manage ticketing tiers to maximize reach and value of your event.
  .m-content_head-btn
     a.btn.btn-sm.btn-primary.btn-add.trans(href="#" data-toggle="modal" data-target="#addTicket")
      span Add Ticket

.m-dataTable.empty(style='display: none;')
  .m-dataTable_thead
    .m-dataTable_thead-th.col6
      span.txt Ticket name (
        span.txt 4
        |)
    .m-dataTable_thead-th.col7
      span.txt Price
    .m-dataTable_thead-th.col8
      span.txt Currency
    .m-dataTable_thead-th.col9
      span.txt Quantity
    .m-dataTable_thead-th.col10
      span.txt Sale start
    .m-dataTable_thead-th.col11
      span.txt Sale end
  .m-dataTable_empty
    h3 No tickets added yet
    p By adding tickets to this event, all the registered participants will be considered null and void.

.m-dataTable
  .m-dataTable_thead
    .m-dataTable_thead-th.col6
      span.txt Ticket name (
        span.txt 4
        |)
    .m-dataTable_thead-th.col7
      span.txt Price
    .m-dataTable_thead-th.col8
      span.txt Currency
    .m-dataTable_thead-th.col9
      span.txt Quantity
    .m-dataTable_thead-th.col10
      span.txt Sale start
    .m-dataTable_thead-th.col11
      span.txt Sale end

  .m-dataTable_tbody
    .m-dataTable_tbody-tr
      .m-dataTable_tbody-td.col6
        span.txt 21.06 P1 Wireless
      .m-dataTable_tbody-td.col7
        span.txt 1.000
      .m-dataTable_tbody-td.col8
        span.txt USD
      .m-dataTable_tbody-td.col9
        span.txt 1000
      .m-dataTable_tbody-td.col10
        span.txt Aug 01, 2022 - 07:00
      .m-dataTable_tbody-td.col11
        span.txt Aug 30, 2022 - 20:00
        button(type='button' class='btn btn-noborder trans')
          img(src=path + "/assets/images/ico_trash.svg", alt="")

    .m-dataTable_tbody-tr
      .m-dataTable_tbody-td.col6
        span.txt 21.06 P2 Retail
      .m-dataTable_tbody-td.col7
        span.txt 1.000
      .m-dataTable_tbody-td.col8
        span.txt USD
      .m-dataTable_tbody-td.col9
        span.txt 1000
      .m-dataTable_tbody-td.col10
        span.txt Aug 01, 2022 - 07:00
      .m-dataTable_tbody-td.col11
        span.txt Aug 30, 2022 - 20:00
        button(type='button' class='btn btn-noborder trans')
          img(src=path + "/assets/images/ico_trash.svg", alt="")

    .m-dataTable_tbody-tr
      .m-dataTable_tbody-td.col6
        span.txt 21.12 Client Services
      .m-dataTable_tbody-td.col7
        span.txt 1.000
      .m-dataTable_tbody-td.col8
        span.txt USD
      .m-dataTable_tbody-td.col9
        span.txt 1000
      .m-dataTable_tbody-td.col10
        span.txt Aug 01, 2022 - 07:00
      .m-dataTable_tbody-td.col11
        span.txt Aug 30, 2022 - 20:00
        button(type='button' class='btn btn-noborder trans')
          img(src=path + "/assets/images/ico_trash.svg", alt="")

    .m-dataTable_tbody-tr
      .m-dataTable_tbody-td.col6
        span.txt 21.06 P4 Retail
      .m-dataTable_tbody-td.col7
        span.txt 1.000
      .m-dataTable_tbody-td.col8
        span.txt USD
      .m-dataTable_tbody-td.col9
        span.txt 1000
      .m-dataTable_tbody-td.col10
        span.txt Aug 01, 2022 - 07:00
      .m-dataTable_tbody-td.col11
        span.txt Aug 30, 2022 - 20:00
        button(type='button' class='btn btn-noborder trans')
          img(src=path + "/assets/images/ico_trash.svg", alt="")