footer.m-footer
  .wrapper
    .m-footer_upper
      a.m-footer_logo.trans(href="#")
        img(src=path+"/assets/images/logo_footer.png", alt="eventure" width="132" height="34")
      .m-footer_nav
        ul.links
          li
            a.trans(href="#") Privacy Policy
          li
            a.trans(href="#") Terms of User
        .community
          span JOIN OUR COMMUNITY
          ul
            li
              a.trans(href="#")
                img(src=path+"/assets/images/ico_facebook.svg", alt="Facebook")
            li
              a.trans(href="#")
                img(src=path+"/assets/images/ico_twitter.svg", alt="Twitter")
            li
              a.trans(href="#")
                img(src=path+"/assets/images/ico_linkin.svg", alt="Linked In")
    small.copy-right Copyright © 2022 Fractal. All rights reserved