.m-head-event
  .wrapper
    a.btn-back.trans(href="#") BACK
    .m-head-event_inner
      .m-head-event_info
        .m-head-event_title
          h2.title Event-led Growth Summit
          span.tag Upcoming
        .m-head-event_time Start 19 Aug 2022, 11:00 - End 22 Aug 2022, 17:00
      ul.m-head-event_control
        li
          a.btn.btn-black.btn-share.trans(href="#")
            span Share
        li
          a.btn.btn-primary.btn-start.trans(href="#" data-toggle="modal" data-target="#modalStartStop")
            span Start Event
        li
          a.btn.btn-secondary.btn-close.trans(href="#" data-toggle="modal" data-target="#modalCloseEvent")
            span Close Event
  .tabs-control
    .wrapper
      ul.nav.nav-tabs
        li.nav-link
          a.active(href="#tab1" data-toggle="tab") General
        li.nav-link
          a(href="#tab2" data-toggle="tab") Agenda
        li.nav-link
          a(href="#tab3" data-toggle="tab") Registrations
        li.nav-link
          a(href="#tab4" data-toggle="tab") Branding
        li.nav-link
          a(href="#tab5" data-toggle="tab") Networking
        li.nav-link
          a(href="#tab6" data-toggle="tab") Booth
        li.nav-link
          a(href="#tab7" data-toggle="tab") Setting