a.header-back.trans(href="#")
.header-top 
  ul.header-top-group
    a.btn.btn-black.header-label.header-top-item Not started
    .header-at.header-top-item Start at 14:30 
.header-title Save Money, Without Thinking About It. Betcha can’t eat!
.header-action
  a.btn.btn-primary.btn-start.trans(href="#")
    span Start Session