a.header-back.trans(href="#")
.header-top 
  ul.header-top-group
    li
      a.btn.btn-secondary.header-top-item.btn-live Live
    li
      .header-at-skin.header-top-item 19:30s
  ul.header-top-group
    li 
      .header-person.header-top-item 244 person
    li 
      .header-rec.header-top-item REC
.header-title Save Money, Without Thinking About It. Betcha can’t eat!
.header-action
  a.btn.btn-blue.trans.btn-pause-session(href="#") Pause Session
  a.btn.btn-secondary.trans.btn-end-session(href="#") End Session