ul.qa-menu 
    li 
        a 
            span.ico-comment
            div Send message
    li 
        a 
            span.ico-delete
            div Remove Question
    li 
        a 
            span.ico-block
            div Block user