ul.qa-menu 
    li 
        a 
            span.ico-comment
            div Send message
    li 
        a 
            span.ico-delete
            div Remove comment
    li 
        a 
            span.ico-block
            div Block user
    li 
        a 
            span.ico-pin
            div Pin