#modalClose.modal.modal-confirm.fade(tabindex='-1' role='dialog' aria-labelledby='closeVideoConfirm' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      form.modal-content
        .modal_head
          h2.title Close video
        .modal-wrapper
          .modal_body
            .modal_body_descriptions Do you want to close this video?
          .modal_foot
            button(type="button" class="btn btn-black trans" data-dismiss="modal")
              span Cancel
            button(type="button" class="btn btn-primary trans")
              span Confirm