.box-user-info 
  .box-user-info-header 
    img(src=path+"/assets/images/img_avatar02.png", alt="")
    .title Esther Howard
    .content Job title, Organization
  .box-user-info-action 
    a.btn.btn-primary.trans(href="#")
      span.ico-comment
      | Send message 
  .box-user-info-body 
    .box-user-info-row
      .box-user-info-row-header Speaker’s biography
      .box-user-info-row-desc Hello! Looks like short introduction
    .box-user-info-row
      .box-user-info-row-header Interests
      .box-user-info-row-desc 
        ul 
          li
            a.btn.trans(href="") Topic 1
          li
            a.btn.trans(href="") Topic 2
          li
            a.btn.trans(href="") Topic 3 
    