ul.user-request
    li
        .user-request-item
            .user-request-img
                img(src=path+"/assets/images/img_cus02.png", alt="")
            .user-request-info
                .user-request-info-title Pacome Anjorin
                .user-request-info-descriptions National Sales Manager
            .user-request-control
                a.btn.btn-style2.trans Withdraw
    li
        .user-request-item
            .user-request-img
                img(src=path + "/assets/images/img_avatar02.png", alt="")
            .user-request-info
                .user-request-info-title Theophile Kpankon
                .user-request-info-descriptions National Sales Manager
            .user-request-control
                a.btn.btn-primary.trans Accept request
                a.btn.btn-deny.trans Deny
    li
        .user-request-item
            .user-request-img
                img(src=path + "/assets/images/img_cus02.png", alt="")
            .user-request-info
                .user-request-info-title Pacome Anjorin
                .user-request-info-descriptions National Sales Manager
            .user-request-control
                a.btn.btn-primary.trans Accept request
                a.btn.btn-deny.trans Deny