ul.videos 
	li 
		.videos-item 
			.videos-thumbnail 
				img.banner(src=path+"/assets/images/agenda/video_thumbnail_1.png", alt="")
			.videos-info 
				.videos-title Your Chrome, Everywhere
				.videos-time 00:03:07 
				.videos-action.trans(data-toggle="modal" data-target="#modalPlay") Play video
	li 
		.videos-item 
			.videos-thumbnail 
				img.banner(src=path+"/assets/images/agenda/video_thumbnail_2.png", alt="")
			.videos-info 
				.videos-title 9 Disgusting Facts about Thanksg Disgusting Facts
				.videos-time 00:03:07 
				.videos-action.trans(data-toggle="modal" data-target="#modalPlay") Play video
	li 
		.videos-item 
			.videos-thumbnail 
				img.banner(src=path+"/assets/images/agenda/video_thumbnail_3.png", alt="")
			.videos-info 
				.videos-title For some reason, we couldn't load
				.videos-time 00:03:07 
				.videos-action.trans(data-toggle="modal" data-target="#modalPlay") Play video