doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title End User
  body 
    h1 End User
    hr
    h2 Reception
    ol 
      li
        a(href="/reception", target="_blank")  Page reception
      li
        a(href="/reception/alert.html", target="_blank")  Page reception alert
    
    h2 Agenda
    ol 
      li
        a(href="/agenda/video.html", target="_blank")  Page agenda tab video
      li
        a(href="/agenda/video-playing.html", target="_blank")  Page agenda tab video paying
      li
        a(href="/agenda/raised-hands-empty.html", target="_blank")  Page raised-hands empty 
      li
        a(href="/agenda/raised-hands.html", target="_blank")  Page raised-hands
      li
        a(href="/agenda/raised-hands-thumbnail.html", target="_blank")  Page raised-hands thumbnail
      li
        a(href="/agenda/poll.html", target="_blank")  Page poll
      li
        a(href="/agenda/poll-create.html", target="_blank")  Page poll-create
      li
        a(href="/agenda/poll-allow-multiple.html", target="_blank")  Page poll allow multiple
      li
        a(href="/agenda/poll-publish.html", target="_blank")  Page poll publish
      li
        a(href="/agenda/poll-publish-show.html", target="_blank")  Page poll publish show
      li
        a(href="/agenda/poll-publish-show-filter.html", target="_blank")  Page poll publish show filter
      li
        a(href="/agenda/qa-empty.html", target="_blank")  Page q&a empty
      li
        a(href="/agenda/qa-input.html", target="_blank")  Page q&a input
      li
        a(href="/agenda/qa-post.html", target="_blank")  Page q&a post
      li
        a(href="/agenda/qa-post-click.html", target="_blank")  Page q&a post click
      li
        a(href="/agenda/qa-show.html", target="_blank")  Page q&a show
      li
        a(href="/agenda/qa-comment.html", target="_blank")  Page q&a comment
      li
        a(href="/agenda/chat-empty.html", target="_blank")  Page chat empty
      li
        a(href="/agenda/chat.html", target="_blank")  Page chat
      li
        a(href="/agenda/chat-hover.html", target="_blank")  Page chat hover
      li
        a(href="/agenda/chat-reply.html", target="_blank")  Page chat reply
      li
        a(href="/agenda/chat-pin.html", target="_blank")  Page chat pin
      li
        a(href="/agenda/chat-popup-user.html", target="_blank")  Page chat popup user
      li
        a(href="/agenda/people.html", target="_blank")  Page people
      li
        a(href="/agenda/session.html", target="_blank")  Page Event - Agenda - Speakers - All sessions
      li
        a(href="/agenda/session-user.html", target="_blank")  Page Event - Agenda - User
      li
        a(href="/agenda/session-break-time.html", target="_blank")  Page Event - Agenda - Speakers - All sessions - With break time
      
      li
        a(href="/network/index.html", target="_blank")  Page Event - Networking & Event - Networking - Join - Grid 1 - 1 person
      li
        a(href="/network/no-banner.html", target="_blank")  Page Event - Networking - Hide banner
      li
        a(href="/network/grid-1-2-person.html", target="_blank")  Page Event - Networking - Join - Grid 1 - 2 person
      li
        a(href="/network/grid-1-3-person.html", target="_blank")  Page Event - Networking - Join - Grid 1 - 3 person 
      li
        a(href="/network/grid-1-4-person.html", target="_blank")  Page Event - Networking - Join - Grid 1 - 4 person 
      li
        a(href="/network/grid-1-5-person.html", target="_blank")  Page Event - Networking - Join - Grid 1 - 5 person
      li
        a(href="/network/grid-1-6-person.html", target="_blank")  Page Event - Networking - Join - Grid 1 - 6 person 
      li
        a(href="/network/grid-1-7-person.html", target="_blank")  Page Event - Networking - Join - Grid 1 - 7 person 
      li
        a(href="/network/grid-1-8-person.html", target="_blank")  Page Event - Networking - Join - Grid 1 - 8 person 
      li
        a(href="/network/grid-2-2-person.html", target="_blank")  Page Event - Networking - Join - Grid 2 - 2 person 
      li
        a(href="/network/grid-2-5-person.html", target="_blank")  Page Event - Networking - Join - Grid 2 - 5 person 
      li
        a(href="/network/grid-2-8-person.html", target="_blank")  Page Event - Networking - Join - Grid 2 - 8 person 