.ico-poll {
  background-image: url("../images/ico_poll.svg");
  width: 25px;
  height: 24px;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-size: contain;
}
.ico-laptop {
  -webkit-mask-image: url('../images/ico_laptop-white.svg');
  width: 25px;
  height: 24px;
  margin-right: 12px;
  background-color: #BBB2E9;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
}
.ico-laptop-off {
  -webkit-mask-image: url('../images/ico_laptop_off.svg');
  width: 25px;
  height: 24px;
  margin-right: 12px;
  background-color: #BBB2E9;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
}
.ico-comment {
  -webkit-mask-image: url('../images/ico_comment.svg');
  width: 20px;
  height: 18px;
  margin-right: 12px;
  background-color: #1A1D1F;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
}
.ico-delete {
  -webkit-mask-image: url('../images/ico_trash_filled.svg');
  width: 20px;
  height: 18px;
  margin-right: 12px;
  background-color: #1A1D1F;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
}
.ico-block {
  -webkit-mask-image: url('../images/ico_block.svg');
  width: 20px;
  height: 18px;
  margin-right: 12px;
  background-color: #1A1D1F;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
}
.ico-arrow-light-up {
  -webkit-mask-image: url('../images/ico_arrow_up.svg');
  width: 20px;
  height: 18px;
  margin-right: 12px;
  background-color: #1A1D1F;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
}
.ico-hot-circe {
  background-image: url('../images/ico_hot_circe.svg');
  width: 20px;
  height: 20px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}
.ico-hot-white-circe {
  background-image: url('../images/ico_host_white.svg');
  width: 20px;
  height: 20px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}
.ico-back {
  -webkit-mask-image: url('../images/ico_arrow_back.svg');
  width: 18px;
  height: 15px;
  margin-right: 8px;
  background-color: #fff;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
}
.ico-mic-circe {
  background-image: url('../images/ico_mic_circe.svg');
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
.ico-mic-circe2 {
  background-image: url('../images/ico_speaker.svg');
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
.ico-like {
  -webkit-mask-image: url('../images/ico_like.svg');
  width: 16px;
  height: 16px;
  margin-right: 4px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
  background-color: #6F767E;
}
.ico-undo {
  background-image: url('../images/ico_undo.svg');
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
.ico-menu {
  -webkit-mask-image: url('../images/ico_three_dots.svg');
  width: 16px;
  height: 16px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
}
.ico-pin {
  -webkit-mask-image: url('../images/ico_pin.svg');
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
  background-color: #1A1D1F;
  margin-right: 12px;
}
.ico-dotx {
  -webkit-mask-image: url('../images/ico_dotx.svg');
  width: 16px;
  height: 16px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
  background-color: #1A1D1F;
}
.ico-search {
  -webkit-mask-image: url("../images/ico_search.svg");
  width: 19px;
  height: 19px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
  background-color: #EFEFEF;
}
.ico-grid-view {
  -webkit-mask-image: url("../images/ico_grid.svg");
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
  background-color: #6F767E;
}
.ico-list-view {
  -webkit-mask-image: url("../images/ico_list.svg");
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
  background-color: #6F767E;
}
.ico-hd {
  background-image: url("../images/ico_hd.svg");
  width: 24px;
  height: 24px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}
.ico-ld {
  background-image: url("../images/ico_ld.svg");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
.ico-share-screen {
  background-image: url("../images/ico_share_screen.svg");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
.ico-stop-share-screen {
  background-image: url("../images/ico-stop-share-screen.svg");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
.ico-pdf {
  background-image: url("../images/ico_pdf.svg");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
.ico-join {
  -webkit-mask-image: url("../images/ico_login.svg");
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
  background-color: #fff;
}
.ico-remind {
  -webkit-mask-image: url("../images/ico_notification.svg");
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
  background-color: #fff;
}
.ico-loading {
  -webkit-mask-image: url("../images/ico_loading.svg");
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
  background-color: #fff;
}
.ico-chair-left {
  background-image: url("../images/ico_chair_left.svg");
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
.ico-chair-right {
  background-image: url("../images/ico_chair_right.svg");
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
.ico-chair-top {
  background-image: url("../images/ico_chair_top.svg");
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
.ico-chair-bottom {
  background-image: url("../images/ico_chair_bottom.svg");
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
.ico-close {
  -webkit-mask-image: url("../images/ico_close_white.svg");
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
  background-color: #fff;
}
.ico-screen {
  -webkit-mask-image: url("../images/ico_expand.svg");
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
  background-color: #fff;
}
.ico-rec {
  -webkit-mask-image: url("../images/ico-rec.svg");
  width: 24px;
  height: 16px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
  background-color: #8FDDFF;
}
.ico-wait {
  background-image: url("../images/ico_user_loading.svg");
  width: 160px;
  height: 169px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
.ico-view-card {
  -webkit-mask-image: url("../images/ico_card_on.svg");
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
  background-color: #8FDDFF;
}
.ico-view-list {
  -webkit-mask-image: url("../images/ico_network_list.svg");
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
  background-color: #8FDDFF;
}
.ico-user1 {
  -webkit-mask-image: url("../images/ico_user_list.svg");
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
  background-color: #8FDDFF;
}
.ico-mic-inline {
  -webkit-mask-image: url("../images/ico_mic_inline.svg");
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
  background-color: #fff;
}
.ico-share-inline {
  -webkit-mask-image: url("../images/ico_share_inline.svg");
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
  background-color: #fff;
}
.ico-video-inline {
  -webkit-mask-image: url("../images/ico_video_inline.svg");
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
  background-color: #fff;
}
.ico-menu-inline {
  -webkit-mask-image: url("../images/ico_vert.svg");
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
  background-color: #fff;
}
.ico-host-inline {
  -webkit-mask-image: url("../images/ico_host_inline.svg");
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
  background-color: #EFEFEF;
}
.ico-alert-inline {
  -webkit-mask-image: url("../images/ico-alert.svg");
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
  background-color: #857DB1;
}
.ico-warning {
  background-image: url("../images/ico_info_bg.svg");
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
.ico-eye-inline {
  -webkit-mask-image: url("../images/ico_eye.svg");
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
  background-color: #BBB2E9;
}
.ico-clock-inline {
  -webkit-mask-image: url("../images/ico_clock.svg");
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: block;
  background-color: #6F767E;
}
